body {
  background-color:blanchedalmond;
}
h1{
  color:crimson;
  text-shadow: 1px 1px black;
  /*border-left-style: solid;
  border-width: 10px;
  background-color: rgb(210, 207, 250);
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 200px;
  margin-left: 200px;
  font-family: Cinzel Decorative;*/
  font-size: 50px;
  text-align: center;

}
/* start menubar css */
#menuBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(172, 224, 255);
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}
li a:hover {
  background-color:darkred;
}
/* end menubar css */
hr {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
  border: 2px dashed black;
}